[Unit]
Description=MariaDB Galera health check script for HAProxy
After=network.target

[Service]
ExecStart=/usr/local/sbin/haproxy-galera
User=mysql
Group=mysql

[Install]
WantedBy=multi-user.target
